<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Role: {{ role }}</h2>

  <!-- FORM KHUSUS DOSEN -->
  <div *ngIf="role === 'dosen'">

    <ion-input placeholder="NIM" [(ngModel)]="form.nim"></ion-input>
    <ion-input placeholder="Nama" [(ngModel)]="form.nama"></ion-input>
    <ion-input placeholder="Program Studi" [(ngModel)]="form.program_studi"></ion-input>
    <ion-input placeholder="Jenis Kelamin" [(ngModel)]="form.jenis_kelamin"></ion-input>

    <ion-button expand="full" (click)="tambah()">
      Tambah Data
    </ion-button>

  </div>

  <ion-list>
    <ion-item *ngFor="let m of mahasiswa">
      {{ m.nama }} - {{ m.nim }}
    </ion-item>
  </ion-list>

</ion-content>
